
<footer>
    <div class="down">
    <div class="carre1">
        <div class="block1">
            <div class="blockA">Accepted payments : </div>
            <div class="blockB">
                <div class="elem1"><img src="assets/images/visa.png" height="80px" width="80px"></div>
                <div class="elem2"><img src="assets/images/mastercard.png" height="80px" width="80px"></div>
                <div class="elem3"><img src="assets/images/paypal.png" height="80px" width="80px"></div>
                <div class="elem4"><img src="assets/images/Apple Pay.png" height="80px" width="80px"></div>
            </div>
        </div>
        <div class="block2">
            <div class="blockC">Delivery</div>
            <br>
            <div class="blockD"><img src="assets/images/DHL.png" alt="logo_DHL" height="80px" width="120px"></div>
        </div>
    </div>

    
</div>
</footer>
    